NEW_RELIC_LICENSE_KEY=your_license_key_here
AUTH_LAMBDA_URL=https://your-api-gateway-id.execute-api.us-east-1.amazonaws.com
MAIL_USERNAME=your_ses_smtp_username
MAIL_PASSWORD=your_ses_smtp_password
NOTIFY_ON_PROCESSED=true
